.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Pretendard", sans-serif;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}

.tableContainer {
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
}

.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    align-items: center;
    text-align: center;
}

.tableHeader {
    background-color: #f7f7f7;
    font-weight: bold;
}

.tableRow:hover {
    background-color: #fafafa;
}
